@font-face {
    font-family: TeamFortress;
    src: url('fonts/TF2secondary.ttf');
}

@font-face {
    font-family: TeamFortress;
    font-weight: bold;
    src: url('fonts/TF2secondary.ttf');
}

html {
    font-family: TeamFortress, sans-serif;
}

h1 {
    text-align: center;
}
